<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Results Page for Survery Form</title>
    </head>
    <body>
        <h1>This is the Submitted information for Survey Form</h1>
        <div class="">
            <% for (var i = 0; i < postData.length; i++) { %>
            <hr>
            <h2> <%= postData[i].name %> </h2>
            <h4>location: <%= postData[i].location %> </h4>
            <h4>language: <%= postData[i].language %> </h4>
            <h4>comment: <%= postData[i].comment %> </h4>
            <hr>
            <% } %>
        </div>
    </body>
</html>
<!--The <% %> tags are the delimiter for the embedded JavaScript.   -->

<!--Using these tags allows us to run JavaScript code that can be embedded into the HTML document we are making.-->

<!-- Notice the <% %> tags allow us to enter JavaScript code, and the <%=  %> tags actually print the JavaScript
 code to the document. -->

<!-- Use the tags with the equal sign (=) to actually print values, whereas you'll use the tags without the equals
sign to invoke loops or use logic (anything that involves JavaScript but doesn't output code). -->
